<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<!-- Conexión de la PC de Franco (SQLEXPRESS) -->
		<add name="PetShop_Express" 
		     connectionString="Server=NOTBOOK_FRANCO\SQLEXPRESS; Database=PetShopBD; Trusted_Connection=True; TrustServerCertificate=True;" 
		     providerName="System.Data.SqlClient" />

		<!-- Conexión de la PC de Enzo (SQL Developer) -->
		<add name="PetShop_Local" 
		     connectionString="Server=.; Database=PetShopBD; Trusted_Connection=True; TrustServerCertificate=True;" 
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>